<div class="row">
  <div class="col-sm-6">
    <h3>Create new document</h3>

    <%= form_for @document, url: {method: :create}, html: {class: 'form-horizontal document-form'} do |f|%>
        <%= label_tag :content, 'Content', class: 'col-sm-2 control-label' %>
        <div class="col-sm-10">
            <%= f.text_area :content, class: 'form-control', rows: 15, cols: 50 %>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <br/>
            <%= f.submit 'Save', class: 'btn btn-success save' %>
          </div>
        </div>
    <% end %>
  </div>
</div>