<div class="row">
  <h4>Words searched: <%= @words_searched.join(', ') %></h4>
  <h4>Documents found: <%= @documents.size %></h4>
  <hr/>
  <%= render partial: 'document_list', locals: { documents: @documents } %>
</div>