<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Doc manager', root_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <% if current_user %>
          <ul class="nav navbar-nav">
            <li><%= link_to 'dashboard', dashboard_path %></li>
          </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
            <li><%= link_to 'Logout', logout_path, method: :post %></li>
        <% else %>
            <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>